window {
  margin: 0px;
  border: 1px solid #285577;
  background-color: #1f1f1f;
  font-family: Ubuntu-Medium;
  font-size: 13px;
}

#input {
  margin: 5px;
  border: 1px solid #1f1f1f;
  color: #c0caf5;
  background-color: #1f1f1f;
}

#input image {
  color: #c0caf5;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1f1f1f;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #1f1f1f;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #c0caf5;
}

#entry:selected {
  background-color: #4c7899;
  font-weight: normal;
}

#text:selected {
  background-color: #4c7899;
  font-weight: normal;
}
