* {
  font-family: UbuntuNerdFont-Medium;
  font-size: 14px;
  min-height: 0;
  color: #bbb;
}

window#waybar {
  background-color: #000;
}

#workspaces button {
  margin: 0px;
  padding: 4px;
}

#workspaces button.active,
#workspaces button.focused {
  border-bottom: 1px solid #4c7899;
}