* {
  font-family: UbuntuNerdFont-Medium;
  font-size: 14px;
  min-height: 0;
  color: #bbb;
}

window#waybar {
  background-color: #1f1f1f;
}

#workspaces button.active,
#workspaces button.focused {
  border-bottom: 1px solid #4c7899;
}
